.header {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #15449e;
    width: 100%;
    min-height: 50px;
    height: 60px;
}


.container {
    z-index: 10;
    display:grid;
    place-items:center;
    height:30px;
    width: 30px;
    margin:0 0 10px 0;
    padding:0;
}


.atomtexLogo {
    margin: 0 10px;
    order: 1;
    height: 40px;
    width: 150px;
    background-image: url("../../assets/icons/atomtex_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.atomtexLogo a{
    display: block;
    width: 100%;
    height: 100%;
}

.atomtexLogo a:hover {
    border-bottom: none;
}

.innerContainer{
    display: flex;
    align-items: center;
}


.usernameContainer {
    margin:0 20px;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

.entryMsg {
    font-size: 12px;
}

.exitBtn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: url("../../assets/exit.png") center center no-repeat;
    background-size: contain;
}

.exitBtn:hover {
    background-image: url("../../assets/exit.gif");
}