.container {
    width: 100%;
    max-width: 1595px;
    margin: 15px auto;
    padding: 0.5rem;
}

.headerControls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 35px;
}

.monthTitle {
    margin: 0;
    font-size: 35px;
}

.saveButtonContainer {
    display: flex;
    margin: 20px 0 15px;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
}

.scrollContainer {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    max-height: 75vh;
    overflow-x: auto;
    overflow-y: auto;
    border: 1px solid #dee2e6;
    border-radius: 4px;
}

.headerRow, .dataRow {
    display: flex;
    min-width: fit-content;
}

.headerRow {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    z-index: 15;
}

.nameCell {
    position: sticky;
    left: 0;
    height: 50px;
    width: 160px;
    min-width: 160px;
    padding: 5px;
    border: 1px solid #dee2e6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: #f8f9fa;
}

.firstNameCell {
    position: sticky;
    left: 0;
    z-index: 30;
    height: 50px;
    width: 160px;
    min-width: 160px;
    padding: 5px;
    border: 1px solid #dee2e6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: #f8f9fa;
}

.dateCell {
    position: sticky;
    top: 0;
    font-size: 14px;
    width: 50px;
    min-width: 50px;
    padding: 8px;
    border: 1px solid #dee2e6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: #f8f9fa;
}

.inputCell {
    width: 50px;
    min-width: 50px;
    padding: 4px;
    border: 1px solid #dee2e6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputField {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    font-weight: bold;
    font-size: 20px;
    height: 100%;
    width: 100%;
    text-align: center;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 4px;
}

.inputField::placeholder{
    font-weight: normal;
}

.dataRow:hover {
    background-color: #f1f1f1;
}

.spinnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    padding: 50px 50px 50vh;
}

.saveButtonWrapper {
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.saveMsg {
    font-size: 14px;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    transition: all 0.15s;
    color: white;
    background-color: #15449e;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.25), 0 4px 0 #15449e, 0 4px 6px rgba(0, 0, 0, 0.6);
}

.buttonPressed {
    cursor: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    transition: all 0.15s;
    color: white;
    background-color: #15449e;
    border: none;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
    transform: translateY(4px);
}

.button:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
    transform: translateY(4px);
}

.prevBtn {
    filter: brightness(0) saturate(100%) invert(51%) sepia(7%) saturate(10%) hue-rotate(11deg) brightness(98%) contrast(89%);
    border: none;
    width: 30px;
    height: 30px;
    background: url("../../assets/icons/arrow-point-to-right.svg");
    background-size: contain;
    transform: rotate(180deg);
}

.prevBtn:hover {
    filter: none;
}

.nextBtn {
    filter: brightness(0) saturate(100%) invert(51%) sepia(7%) saturate(10%) hue-rotate(11deg) brightness(98%) contrast(89%);
    border: none;
    width: 30px;
    height: 30px;
    background: url("../../assets/icons/arrow-point-to-right.svg");
    background-size: contain;
}

.nextBtn:hover {
    filter: none;
}